@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: #D2D2D2 !important;
}


.graphTitle {
  background-color: #20DF7F !important;
  color: #093545;

}

.progress-bar {
  background-color: #20DF7F !important;
}

.img {
  background-color: #d4efe2;
  width: 80px;
  padding: 10px;
  height: 90px;
}

/* .test {
  height: 130px !important;
  width: 350px;
}

.teste {
  width: 450px !important;
} */

.progress {
  height: 8px !important;
}

.card-text {
  color: #093545 !important;
  font-size: 16px;
  text-wrap: nowrap;
}

.span {
  color: #D2D2D2;
}

.span2 {
  color: #093545;
}

.bg,
.title {
  background-color: #20DF7F !important;
  color: #093545 !important;
}
table td{
  padding: 12px;
}
table th{
  padding: 12px;
}
.bg {
  border-radius: 20px !important;
}


.doughnut-chart {
  width: 250px;
  height: 270px;


}

.charts {
  height: 300px !important;
}

.chart {
  height: 300px;
}

.card h4 {
  color: #093545
}

.card-text h5 {
  color: #093545;

}

.para {
  color: #33343D !important;
  font-size: 18px;
}

.card-body h6 {
  color: #807D9B !important;
}

.title {
  font-size: 13px;
  color: #093545;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;

}

.card p {
  color: #929292
}

.card h6 {
  color: #33343D
}