@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: #D2D2D2 !important;
}


.graphTitle {
  background-color: #20DF7F !important;
  color: #093545;

}

.bg,
.title {
  background-color: #20DF7F !important;
  color: #093545 !important;
  padding: 15px;
}


.doughnut-chart {
  width: 250px;
  height: 270px;


}

.charts {
  height: 300px !important;
}

.chart {
  height: 300px;
}

.card h4 {
  color: #093545
}

.card p {
  color: #929292
}

.card h6 {
  color: #33343D
}