.navbar {
  background-color:white;
  box-shadow: 1px 1px 2px rgb(147, 141, 141);
  height: 70px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

 .navbar-nav {
  padding-right: 15px;
 }
.navbar .nav-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size:  30px;
  color: white;
}
li a{
  text-decoration: none;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
}

.navbar .nav-icons {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 50px;
  color: black;
}
.navbar .nav-ico {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: black;
  position: relative;
  top: 12px;
  right: 33px;
  
}
a{
  color: white;
}
.sidebar .nav-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: white;
  position: relative;
  top: 2px;
  right: 10px;
}
 
.right-tap{
  font-size: 13px;
}
.right-ta{
  position: relative;
  top: 20px;
  right: 20px;
}
.para{
  top:10px;
  font-weight: bold;
}

span{
  color: grey;
  font-size: 14px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.image{
  width: 45px;
  height:45px;
  border-radius: 50%;
  position: relative;
  top: 3px;
  right: 10px;
  
}

/* Sidebar */
.sidebar {
  height: 160vh;
  background-color:#093545;
  color: white;

}
.setting{
position: relative; 
left: 20px;
bottom: 6px;
}
.sidebar .nav-ican {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: white;
  position: relative;
  left: 13px;
  top: 20px;
  z-index: 20;
}
.dropdowns{
  background-color: #093545;
  color: white;
  border: none ;
  outline: none; 
 
}
option{
  border: none ;
  outline: none; 
}

label {
  color: white;
  margin-bottom: 5px;
  display: block;
}

.hach{
  position: relative;
  left: 8px;
  top: 4px;
} 
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.sidebar a:active {
  background-color: #20DF7F;
}
select{
  border: none;
}


